<section class="container-liquid">
	<mat-toolbar class="row toolbar-main">
		<div class="col-1">
			<!-- <button
				type="button"
				mat-button
				(click)="openNav.emit()"
			>
				<mat-icon>menu</mat-icon>
			</button> -->
			<custom-button
				(clickEvent)="openNav.emit()"
				iconName="menu"
			/>
		</div>
		<div class="col-7">
			<h2>{{ subtitle }}</h2>
		</div>
		<div class="col-4">
			<custom-button
				[text]="'Add new task'"
				[colorButton]="'primary'"
				(clickEvent)="openTaskFormModal()"
			/>
		</div>
	</mat-toolbar>
</section>
