<mat-drawer-container class="dashboard-container" autosize>
	<mat-drawer #drawer mode="side">
		<mat-list class="sidebar-options">
			<mat-list-item>
				<p>Platform Launch</p>
			</mat-list-item>
			<mat-list-item>
				<p>Marketing plan</p>
			</mat-list-item>
			<mat-list-item>
				<p>Roadmap</p>
			</mat-list-item>
		</mat-list>

		<theme-switcher (switcherToggled)="drawer.close()" />
	</mat-drawer>

	<section class="main-container">
		<toolbar (openNav)="drawer.toggle()" />

		<div class="main-container">
			<kanban-board />
		</div>

		<!-- <ng-template #routerOutlet>
			<router-outlet />
		</ng-template> -->
	</section>
</mat-drawer-container>
