<section class="p-2 w-full flex flex-col gap-4">
	<div class="p-dialog-header">
		<h2 class="p-dialog-title">Task information</h2>
		@if (taskSelected()) {
			<p-button-group>
				<p-button
					severity="secondary"
					size="small"
					icon="pi pi-eye"
					[outlined]="true"
					(click)="disableControl()"
					label="View"
				/>
				<p-button
					severity="secondary"
					size="small"
					icon="pi pi-pencil"
					[outlined]="true"
					(click)="enableControl()"
					label="Edit"
					[disabled]="isEdit()"
				/>
			</p-button-group>
		}
		<p-button
			severity="secondary"
			size="small"
			icon="pi pi-times"
			variant="text"
			(outlined)="(true)"
			(click)="closeDialog()"
		/>
	</div>

	<div class="p-dialog-content">
		<ng-container
			[ngTemplateOutlet]="templateSelected()"
		></ng-container>
	</div>

	<div class="p-dialog-footer">
		@if (taskSelected()) {
			<p-menu
				#menuOptions
				[model]="menuItems"
				[popup]="true"
				[appendTo]="'body'"
			/>
			<p-button
				class="btn-more-options"
				severity="secondary"
				size="small"
				icon="pi pi-ellipsis-v"
				variant="text"
				(click)="menuOptions.toggle($event)"
			/>
		}
		<custom-button
			class="create-task-button"
			[severity]="'secondary'"
			[text]="'Cancel'"
			(clickEvent)="
				taskSelected() ? disableControl() : closeDialog()
			"
			[ngClass]="!isEdit() ? 'hidden' : ''"
		></custom-button>
		<custom-button
			class="create-task-button"
			[severity]="'primary'"
			[disabled]="!taskForm.valid"
			[text]="'Save changes'"
			(clickEvent)="createTask()"
			[loading]="isLoading()"
			[ngClass]="!isEdit() ? 'hidden' : ''"
		></custom-button>
	</div>
</section>

<ng-template #taskInfoTemplate>
	<div class="flex flex-col gap-4 w-full">
		<p-fieldset legend="Title">
			{{ taskSelected()?.title }}
		</p-fieldset>
		<p-fieldset legend="Description">
			{{ taskSelected()?.description }}
		</p-fieldset>
		<p-fieldset legend="Status">
			{{ taskSelected()?.status }}
		</p-fieldset>
	</div>

	<div class="subtasks-container mt-4">
		<p-panel
			header="Subtasks"
			[toggleable]="true"
			[collapsed]="true"
		>
			@for (subtask of subtasks(); track subtask.id) {
				<subtasks-overview [subtask]="subtask" />
			}

			<ng-container #newSubtaskContainer></ng-container>

			<button
				pButton
				severity="secondary"
				variant="text"
				class="pi pi-add"
				(click)="addSubtask()"
			></button>
		</p-panel>
	</div>
</ng-template>

<ng-template #taskFormTemplate>
	<form
		class="flex flex-col gap-4 w-full"
		[formGroup]="taskForm"
	>
		<p-float-label variant="on">
			<label
				for="title"
				style="font-weight: normal"
				>Title</label
			>
			<input
				pInputText
				formControlName="title"
				type="text"
				id="title"
				autocomplete="off"
				class="w-full"
			/>
		</p-float-label>

		<p-float-label
			class="w-full"
			variant="on"
		>
			<label
				for="description"
				style="font-weight: normal"
				>Description</label
			>
			<textarea
				pInputText
				formControlName="description"
				type="text"
				id="description"
				autocomplete="off"
				class="w-full"
			></textarea>
		</p-float-label>

		<p-select
			class="w-full"
			formControlName="status"
			optionLabel="name"
			placeholder="Select status"
			[options]="statusOptions()"
			[appendTo]="'body'"
		>
		</p-select>
	</form>
</ng-template>

<p-toast />
<p-confirmdialog />
