<section class="row task-overview-container">
	<div class="col">
		<h2>{{ task.title }}</h2>
	</div>

	<div class="col">
		<p>{{ task.description }}</p>
	</div>

	<div class="col">
		<h3>Subtasks</h3>
		@for(subtask of task.subtasks; track subtask ) {
		<subtasks-overview
			[subtask]="subtask"
			(subtaskUpdated)="subtaskUpdated($event)"
			[index]="$index"
		/>
		}
	</div>

	<div class="col row">
		<h3>Status</h3>
		<mat-form-field class="col">
			<mat-select [formControl]="statusSelected">
				@for(status of statusOptions; track status) {

				<mat-option [value]="status">{{
					status
				}}</mat-option>
				}
			</mat-select>
		</mat-form-field>
	</div>
</section>
