@if (isLoading()) {
<div
	class="flex h-screen items-center justify-center bg-gray-900"
>
	<p class="text-xl font-semibold text-white animate-pulse">
		Cargando tablero...
	</p>
</div>
} @else {
<div
	cdkDropListGroup
	class="flex h-screen w-full overflow-x-auto bg-gray-900 p-6 space-x-6"
>
	@for (column of columns(); track column.id) {
	<div
		class="flex flex-col w-80 shrink-0 bg-gray-800 rounded-xl max-h-full"
	>
		<div class="p-4 border-b border-gray-700">
			<h2 class="text-lg font-bold text-gray-100">
				{{ column.title }}
			</h2>
		</div>

		<div
			cdkDropList
			[cdkDropListData]="tasksByColumn()[column.id]"
			(cdkDropListDropped)="drop($event, column.id)"
			class="flex-1 overflow-y-auto p-4 space-y-3 min-h-[150px]"
		>
			@for (task of tasksByColumn()[column.id]; track
			task.id) {

			<div
				cdkDrag
				(click)="openViewModal(task)"
				class="bg-gray-700 p-4 rounded-lg shadow-sm hover:ring-2 hover:ring-blue-500 cursor-grab active:cursor-grabbing transition-all"
			>
				<h3 class="font-medium text-white mb-2">
					{{ task.title }}
				</h3>
				<p class="text-sm text-gray-400 line-clamp-2">
					{{ task.description }}
				</p>

				@if (task.assigned_to) {
				<div class="mt-4 flex items-center gap-2">
					<div
						class="w-6 h-6 rounded-full bg-blue-500 flex items-center justify-center text-xs text-white font-bold"
					>
						{{ task.assigned_to.charAt(0) }}
					</div>
					<span class="text-xs text-gray-300"
						>{{ task.assigned_to }}</span
					>
				</div>
				}
			</div>

			}
		</div>
		<div class="p-4 pt-0">
			<button
				(click)="openCreateModal(column.id)"
				class="w-full py-2 flex items-center justify-center gap-2 text-sm font-medium text-gray-400 hover:text-white hover:bg-gray-700 rounded-lg transition-colors border border-dashed border-gray-600"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="2"
					stroke="currentColor"
					class="w-4 h-4"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M12 4.5v15m7.5-7.5h-15"
					/>
				</svg>
				Add Task
			</button>
		</div>
	</div>
	}
</div>
}

<app-task-modal
	[isOpen]="isModalOpen()"
	[mode]="modalMode()"
	[task]="selectedTask()"
	[columnId]="activeColumnId()"
	(closeModal)="closeModal()"
	(saveTask)="onSaveTask($event)"
/>
