@if (isLoading()) {
<div
	class="flex h-screen items-center justify-center bg-gray-900"
>
	<p class="text-xl font-semibold text-white animate-pulse">
		Loading board...
	</p>
</div>
} @else {
<div
	class="flex flex-col h-screen bg-gray-900 overflow-hidden"
>
	<app-board-header
		[boardTitle]="boardTitle()"
		[isEditingTitle]="isEditingTitle()"
		[userBoards]="userBoards()"
		[activeBoardId]="boardId()"
		[rateLimitError]="rateLimitError()"
		(titleEditEnabled)="enableTitleEdit()"
		(titleSaved)="saveBoardTitle($event)"
		(titleEditCancelled)="onTitleEditCancelled()"
		(boardSelected)="onBoardSelected($event)"
		(deleteBoard)="onDeleteBoard()"
		(createBoard)="onCreateNewBoard()"
		(rateLimitDismissed)="dismissRateLimitError()"
	/>

	<div
		cdkDropListGroup
		class="flex h-screen w-full overflow-x-auto bg-gray-900 p-6 space-x-6"
	>
		@for (column of columns(); track column.id) {
		<app-column
			[column]="column"
			[tasks]="tasksByColumn()[column.id]"
			(addTask)="openCreateModal(column.id)"
			(taskClicked)="openViewModal($event)"
			(taskDropped)="drop($event, column.id)"
		/>
		}
	</div>
</div>
}

<app-task-modal
	[isOpen]="isModalOpen()"
	[mode]="modalMode()"
	[task]="selectedTask()"
	[columnId]="activeColumnId()"
	[teamMembers]="teamMembers()"
	[columns]="columns()"
	[isSubmitting]="isTaskSubmitting()"
	[isDeleting]="isTaskDeleting()"
	(closeModal)="closeModal()"
	(saveTask)="facade.saveTask($event)"
	(patchTask)="facade.patchTask($event.taskId, $event.columnId, $event.updates)"
	(deleteTaskRequested)="facade.deleteTask()"
/>
