<div class="row justify-items-center theme-toggle">
	<div class="col-4">
		<mat-icon [customIcon]="'medium'">light_mode</mat-icon>
	</div>
	<div class="col-4">
		<mat-slide-toggle
			[formControl]="themeToggled"
		></mat-slide-toggle>
	</div>
	<div class="col-4">
		<mat-icon [customIcon]="'medium'">dark_mode</mat-icon>
	</div>
	<div class="col drawer-close-button">
		<p (click)="switcherToggled.emit()">
			<mat-icon [customIcon]="'medium'"
				>visibility_off</mat-icon
			>
			Hide sidebar
		</p>
	</div>
</div>
